<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  <!--  
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbtest?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">7777</property>
    
    -->
    
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sales_db</property> 
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">7777</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    
        <mapping class="ru.mav.utils.GoodsService"/>
        <mapping class="ru.mav.utils.HibernateUtil"/>
        <mapping class="ru.mav.utils.SalesService"/>
        <mapping class="ru.mav.entity.Goods"/>
        <mapping class="ru.mav.entity.Sales"/>

  </session-factory>
</hibernate-configuration>
